.hero-big-right-image {
  animation-name: backgroundChanger2;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

@keyframes backgroundChanger2 {
  0% {
    background-image: url("../../assets/Hero-Right-Top.jpg");
  }
  45% {
    background-image: url("../../assets/blog-04.jpg");
  }

  80% {
    background-image: url("../../assets/blog-02.jpg");
  }
  100% {
    background-image: url("../../assets/blog-01.jpg");
  }
}
