.about-bottom-left-box {
  background-size: cover;
  background-position: center;
  animation-name: backgroundChanger3;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

@keyframes backgroundChanger3 {
  0% {
    background-image: url("../../assets/Testimonials-Background.jpg");
  }
  50% {
    background-image: url("../../assets/Hero-Right-Small.jpg.jpg");
  }

  100% {
    background-image: url("../../assets/destination-box-4.jpg");
  }
}
